@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* variables green */
html {
  --primary: #97BF10;
  --secondary: #7C7C7C;
  --ghost:#EFEFEF
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #f5f6fa;
}

.wrapper .sidebar {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
  color: rgb(206, 240, 253);
  font-size: 14px;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  color: var(--secondary);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a.active {
  color: #fff;
  background: var(--primary)
}
.wrapper .sidebar ul li a:hover{
    background: #96bf104a;
    color:#7c7c7c
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

.wrapper .section {
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

.wrapper .section .top_navbar {
  background: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.wrapper .section .top_navbar .hamburger a {
  font-size: 28px;
  color:var(--primary)
}

.wrapper .section .container {
  background: #fff;
  line-height: 28px;
  height: 90vh;
}

body.active .wrapper .sidebar {
  left: -225px;
}

body.active .wrapper .section {
  margin-left: 0;
  width: 100%;
}

.card {
  height:10rem;
  width:10rem;
  margin:3rem;
  border-radius:50%;
  background-color: #fff;
}


.arrow {
  width:4rem;
  height:4rem
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  padding-left: 3rem;
  padding-right:1rem;
  border: 0;
}

.arrow:disabled {
  visibility: hidden;
}

.arrow-left {
  background-color: var(--ghost) ;
  color: var(--primary);
}

.arrow-right{
  background-color: var(--primary);
  color: #fff;
}

.scroll-container {
  /* removes the scrollbar for the horizontal scrollbar */
  overflow-x: hidden; 
}

.teachers-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teachers-heading {
  text-align: center;
}